* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: #e6f0ff;
  color: #333;
}

header {
  background: white;
  border-bottom: 1px solid #eee;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background: #e6f0ff;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.hero-image img {
  max-width: 300px;
  border-radius: 50%;
}

.about-preview, .portfolio-preview,  .certifications-preview, .code_exp-preview, .contact-cta {
  padding: 3rem 2rem;
  text-align: center;
  background: #f1f1f1;
  margin-top: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #e9ecef;
  margin-top: 2rem;
}

.bullet-list {
  display: inline-block;
  text-align: center;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bullet-list li {
  margin-bottom: 0.5rem;
}

.highlight-text {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.0rem; /* or try 24px */
}